{% extends 'base.html' %}
{% block content %}

<h1>Wish List Items</h1>
{% if wishs.count %}
    <table>
        <thead>
            <tr>            
                <th>Description</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tr>
            {% for wish in wishs %}
            <tr>
                <td>{{ wish.description }}</td>
                <td>
                    <!-- <a href="{% url 'wish_delete' wish.id %}">X</a> -->
                    <form method="POST" action="{% url 'wish_delete' wish.id %}">
                        {% csrf_token %}<input type="submit" value="X">
                     </form>
                </td>
            </tr>
            {% endfor %}
        </tr>
    </table>
{% else %}

<h5>No wish Items Exist</h5>
{% endif %}
<button>
    <a href="{% url 'add' %}">Add a Wish Item</a>
</button>


{% endblock %}