{% extends 'base.html' %}
{% block content %}

<h1>Wish List Items</h1>

    <h5>No Wish Items Exist</h5>

        <table>
            <thead>
                <tr>            
                    <th>Description</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tr>
                {% for wish in wishs %}
                <tr>
                    <td>{{ wish.description }}</td>
                    <td><a href="{% url 'wish_delete' wish.id %}">X</a></td>
                </tr>
                {% endfor %}
            </tr>
        </table>
    

<button>
    <a href="{% url 'add' %}">Add a Wish Item</a>
</button>


{% endblock %}